body {
    margin: 0;
    padding: 0;
    background: white;
}

/*
bg-color : #e84118
*/

.tdLink {
    text-decoration: none;
}

.header {
    background-color: #1e272e;
    height: 75px;
}

#LogoImg {
    width: 150px;
    height: auto;
}

#logo {
    position: relative;
    width: 150px;
    height: 0px;
    left: 10%;
}

.tdLink:hover {
    text-decoration: underline;
}

.Link {
    text-decoration: none;
    color: black;
}

.menu {
    position: relative;
    background: #FFFFFF;
    top: 100%;
}

.menu-table {
    position: relative;
    left: 5%;
    background: #FFFFFF;
}

.menu-table td:hover {
    background-color: #ecf0f1;
}

.menu-table td {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border-right: solid 1px gray;
    text-decoration: none;
    width: 135px;
    text-align: center;
}

#last {
    border-right: none;
}

.search-box {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -65%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 342px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
    color: black;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.search-btn > i {
    font-size: 30px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 340px;
    font-weight: bold;
}

.shopping-cart:hover {
    width: 62;
}

.shopping-cart:hover > .shopping-btn {
    background: white;
    color: black;
}

.shopping-cart {
    position: absolute;
    top: 7%;
    left: 92%;
    transform: translate(-50%, -65%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.shopping-btn {
    color: #e84118;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.AccLink{
    text-decoration: none;
}

.Account{
    position: relative;
    width: 150px;
    height: 0px;
    left: 20%;
}

.contactForm {
    display: flex;
    align-items: center;
    position: relative;
    left: 5%;
    top: 100px;
    z-index: 1;
    padding-bottom: 150px;
}

.showSlide {
    display: none
}

.showSlide img {
    width: 100%;
}

.slidercontainer {
    max-width: 1000px;
    position: relative;
    top:80px;
    margin: auto;
}

.left,
.right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.left:hover,
.right:hover {
    background-color: rgba(115, 115, 115, 0.8);
}

.content {
    color: #eff5d4;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.textbox {
    background: #2f3640;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
}

.sumbit {
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.submit:hover {
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.error {
            color: #e74c3c;
        }

.about {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    top: 100px;
    z-index: 1;
    padding-bottom: 150px;
    font-size: 15px;
}

.containers {
    display: flex;
    margin-top:70px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1150px;
    column-gap: 0px;
}

.container:last-child {
    margin-bottom: 0px;
}

.imgSrc {
    width: 218px;
    height: auto;
}

.Ad-Image {
    position: relative;
    transform: translate(50%, 14%);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ecf0f1;
    transition: 0.2s;
    cursor: pointer;
    width: 220px;
    height: 380px;

}

.Ad-Image:hover {
    box-shadow: 5px 5px 5px 5px rgba(0.3, 0.3, 0.3, 0.3);
}

.emertimi {
    position: relative;
    bottom: 50px;
    left: 115px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.price {
    position: relative;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-width: 2px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    bottom: 40px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.link-article:hover {
    width: 62;
}

.add-article:hover > .link-article {
    background: white;
    color: black;
}

.add-article {
    transform: translate(105%, -50%);
    background: #2f3640;
    height: 40px;
    width: 140px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-article {
    color: #e84118;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.footer {
    padding-top: 40px;
    border-top: solid 2px #3498db;
    display: flex;
    background-color: #ecf0f1;
    align-content: right;
}

.component {
    right: 80%;
    margin-right: 100px;

}

.head {
    font-weight: bold;
}

.component ul {
    font-family: Roboto, sans-serif;
    list-style: none;
    text-align: right;
}

.component li {
    margin-bottom: 5px;
}

#footer-logo {
    position: relative;
    width: 150px;
    height: 0px;
    left: 30%;
}

li span {
    display: block;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
}
